@tailwind base;
@tailwind components;
@tailwind utilities;

html, body{
  min-height:100%;
}

body {
  margin: 0;
  font-family: "Avenir Next W02", Helvetica;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.centered-axis {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.no-highlight {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.animLogo {
  animation: headerLogo 1s infinite;
}

@keyframes headerLogo {
  0% {
    scale: 100%;
  }
  50% {
    scale: 120%;
  }
  100% {
    scale: 100%;
  }
}

::-webkit-scrollbar {
  z-index: 50;
  width: 7px;
  height: 7px;
  margin-top: 10px;
  margin-bottom: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(3, 46, 72, 80%);
}

::-webkit-scrollbar-thumb {
  background: rgb(3, 46, 72, 60%);
  border-radius: 10px;
}

.per_page .css-1xc3v61-indicatorContainer,
.per_page .css-15lsz6c-indicatorContainer {
  padding: 2px;
}

.excel-button:hover svg {
  color: #477d53;
}

.legend-button:hover svg {
  color: #F04343;
}

.add-button:hover svg {
  color: #0A2B4A;
}

.box-shadow {
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
}

.login-box:hover {
  scale: 99%;
  transition: 0.2s;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.ant-picker {
  border: 1px solid #6b7280;
}

.ant-picker-suffix {
  color: #6b7280 !important;
}

.react-datepicker__header {
  color: white !important;
}

.react-datepicker__year-wrapper {
  display: block !important;
}

.react-datepicker__year-text--selected {
  background: #ff8309 !important;
}

.react-datepicker__year-select {
  background: #0A2B4A;
  padding-left: 8px;
}

.loading-page {
  width: 100%;
  height: 100vh;
  background-color: var(--loading-grey);
  background: linear-gradient(
          100deg,
          rgba(255, 255, 255, 0) 40%,
          rgba(255, 255, 255, 0.5) 50%,
          rgba(255, 255, 255, 0) 60%
  )
  var(--loading-grey);
  background-size: 200% 100%;
  background-position-x: 180%;
  animation: 1s loading ease-in-out infinite;
}

.hide-number-arrows input[type="number"]::-webkit-inner-spin-button,
.hide-number-arrows input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.hide-number-arrows input[type="number"] {
  -moz-appearance: textfield;
}